.select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 320px;
    height: 380px;
    border-radius: 10px;
    font-size: 30px;
}

.round-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.round-div{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    transition: box-shadow 0.3s ease-in-out;
    background: rgb(51, 51, 51);  
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.round-div:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.create-button {
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 288px;
    height: 48px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    transition: box-shadow 0.3s ease-in-out;
    background: rgb(51, 51, 51);   
}

.create-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.room-title{
    margin: 5px;
}

.duel-dropdown{
    margin-bottom: 30px;
    padding-bottom: 0px;
    width: 288px;
    height: 48px;
    cursor: pointer;
    font-size: 15px;
}

.duel-select-sub-p{
    font-size: 20px;
}

.comeback{
    font-size: 15px;
    margin-top: 10px;
}

.comeback:hover{
    text-decoration: underline;
    cursor: pointer;
}