.play-container {
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    width: 320px;
    height: 270px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.play-input {
    font-size: 18px;
    width: 288px;
    height: 48px;
    margin-bottom: 7px;
    text-align: center;
}
  
.button {
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 288px;
    height: 48px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    transition: box-shadow 0.3s ease-in-out;
    background: rgb(51, 51, 51);
    
}

.button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.room-button{
    margin-top: 10px;
}

.o{
    padding: 0;
    margin: 0;
    font-size: 20px;
}