@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

/* LevelSelectionScreen.css */
.level-selection-screen {
  text-align: center;
  padding: 0;
}

.level-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  margin: 0;
}

.level-grid::before {
  content: '';
  background-image: url('../assets/fondo_cielo.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  pointer-events: none;
}

.level-button {
  width: 110px;
  height: 110px;
  background-color: #007acc;
  color: #fff;
  border: 2px solid #00487b;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.level-button-completed {
  width: 110px;
  height: 110px;
  background-color: #08A045;
  color: #fff;
  border: 2px solid #0A5C36;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.level-button-disabled {
  width: 110px;
  height: 110px;
  background-color: #ccc;
  color: #999;
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: not-allowed;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: none; 
  pointer-events: none; 
}

.level-button:hover {
  background-color: #005b9e;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-color: white; 
}

.level-button-completed:hover {
  background-color: #0A5C36;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-color: white; 
}

/* In your CSS file or style block */
.level-title {
  font-family: 'Catamaran', sans-serif;
  color: black; 
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-bottom: 5px;
}

/* In your CSS file or style block */
.horizontal-line { 
  border: 0;
  height: 4px;
  background-color: black;
  margin-top: 1px; 
  margin-bottom: 0; 
}