.trivia-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title-trivia{
  font-size: 48px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid #bc6c25;
  background: linear-gradient(to bottom, #000022, #0a0a2e, #10101e, #0a0a2e, #000022);
  margin-top: 10px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  color: white;
}


.worlds {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.world-card {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.world-card:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.levels {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}



