@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.duel-play-container{
    background-image: url('../../assets/duel_play.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: flex;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.question-container{
    background-color: #182628;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    max-width: 55%;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 20px black;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 0 20px black;
    color: white;
}

.options-container{
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.check-answer-container{
    z-index: 10;
    display: flex;
}