.star-rain-container{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.trivia-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title-trivia{
  font-size: 48px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid #bc6c25;
  background: linear-gradient(to bottom, #000022, #0a0a2e, #10101e, #0a0a2e, #000022);
  margin-top: 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 90px;
  color: white;
  margin-bottom: 0;
}


.worlds {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.world-card {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.world-card:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.levels {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}


.trivia-start-play-button {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #0A0A2E;
  width: 10vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  align-self: flex-end;
  height: 50px;
  color:white;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.trivia-start-play-button:hover{
  background-color: #070722;
  transform: scale(1.1);
}

.trivia-button-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 20px;
  transition: transform linear 0.5s, background-color linear 0.5s;
}




/* StarRain.css */
.star-rain-container {
  position: relative;
  width: 100%;
  /*height: 100vh;*/
  height: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.star {
position: absolute;
background: white;
width: 2px;
height: 2px;
border-radius: 50%;
animation: starFall 2s linear infinite, twinkle 2s alternate infinite;
animation-delay: 0s;
}

@keyframes starFall {
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(100vh);
}
}

@keyframes twinkle {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

