.duel-answer-container{
    background-image: url('../../assets/duel_play.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
}