/* WorldSelect.css */

.world-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .ring {
    width: 200px;
    height: 200px;
    border: 10px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
=======
    color: aliceblue;
>>>>>>> a5d8a6983431e6d67046d497af5029d7883e160a
  }
  
  .center-text {
    cursor: pointer;
<<<<<<< HEAD
    color: aliceblue;
=======
>>>>>>> a5d8a6983431e6d67046d497af5029d7883e160a
  }
  